body {
  margin: 0;
  width: 100%;
  background-color: black;
  background-image: url("/Users/georgecker/Documents/GitHub/Webpage01/img/Skelly_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font: 1em/150% Courier;
}

header {
  margin: 0;
  width: 100vw;
  height: 70em;
}

main {
  float: left;
  text-align: left;
  padding: 2%;
}

footer {
  text-align: center;
}

.div1{
  padding-left: 2em;
  padding-right: 2em;
  float:left;
  width: 250px;
  height: 25vh;
}

.aside {
  font: 1em/100% Courier;
  text-align: right;
  float: right;
  padding: 20px;
  height: 100px;
  width: 40%;
}

.invert {
  filter: invert(90%);
}
